.git
.github
.vscode
.idea
**/node_modules
**/.output
**/dist
**/venv
**/env
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache
**/.coverage
**/uploads/*
!**/uploads/.gitkeep
**/.env
**/.env.*
!**/.env.example
*.docx
*.png
*.pdf
scratch

